html {
    font-family: "Inika";
    font-weight: 400;
    font-style: normal;
    background: #fff;
    color: #8B7969;
}

.header {
    border-bottom: 1px solid #E0DFDE;
    height: 100px;
    max-width: 1512px;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    text-align: center;
    position: relative;
}

.header__logo {
    color: #8B7969;
    font-size: 40px;
    text-decoration: none;
    width: 100%;
    margin: auto;
}

nav {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translate(0%, -50%);
}

.header-nav {
    align-items: center;
    text-align: right;
}

.header-nav__button button {
    background: #F0F0F099;
    border: solid 1px #D9C6B5;
    width: 100px;
    height: 34px;
    font-family: "Inika";
    font-size: 20px;
    color: #D9C6B5;
    cursor: pointer;
}