.confirm__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.confirm__heading {
    margin-bottom: 40px;
    text-align: center;
}
.confirm__heading h2 {
    font-size: 35px;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    border: 1px solid #E0DFDE;
    text-align: left;
}
.confirm-table input {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #8B7969;
    background-color: #FFFFFF;
    padding-left: 20px;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 15px;
    padding-left: 40px;
    width: 35%;
    border-bottom: 1px solid #FFFFFF;
    background-color: #BAA899;
    color: #FFFFFF;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #E0DFDE;
}

.confirm-table__text input {
    width: 100%;
    outline: none;
    border: none;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 50px;
    text-align: center;
}
.form__button button,
.form__button input {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 10px, 40px;
    width: 120px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.form__button-submit {
    background: #82756A;
    color: #FFFFFF;
}
.form__button-correct {
    background: #FFFFFF;
    color: #8B7969;
}