main {
    background-color: #F1ECE7;
    width: 100vw;
    height: 100vh;
}

.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 35px;
    text-align: center;
}
.register-form__heading h2{
    font-size: 35px;
}

.form__flex {
    display: flex;
    justify-content: center;
}

.form__style {
    background-color: #FFFFFF;
    border: solid 1px #C5B9B0;
    border-radius: 10px;
    padding: 100px;
    width: 736px;
    /* height: 580px; */
}

.form {
    margin: 0 auto;
    width: 445px;
    text-align: center;
}

.form__group {
    margin-bottom: 30px;
}

.form__group-title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 25px;
}

.form__error {
    height: 20px;
    width: fit-content;
    background-color: #87837826;
    color: #EB5757;
    font-size: 14px;
    text-align: left;
    border-radius: 4px;
    margin-top: 5px;
}

.form__input--text input {
    width: 445px;
    height: 55px;
    border: none;
    background-color: #F4F4F4;
    appearance: none;
    font-size: 14px;
    font-family: "Inika";
    color: #BEB1A6;
    padding-left: 30px;
}

.form__button {
    margin-top: 80px;
}

.form__button-submit {
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    width: 160px;
    height: 46px;
    background-color: #82756A;
    font-family: "Inika";
    font-size: 20px;
}
